<div class="container" ng-controller="crudController">
    <div class="row">
        <div class="box">
            
            
            
            
            <h1>CRUD</h1>
            <h2>Something</h2>
            <ul ng-model="users">
                <li data-ng-repeat="user in users" data-ng-model="usersModel">
                    {{user.name}}
                    <a id={{user.id}} ng-click="usersModel.deleteUser(user.id)">delete</a>
                </li>
            </ul>
            <input data-ng-model="name" type="text"/><button ng-click="addUser()">Add User</button>
            
        </div>
    </div>
</div>
<!-- /.container -->