<div class="container">

    <div class="row">
        <div class="box">
            <h1>Sign In</h1>
            <form>
                <input type="text" name="Username" placeholder="Username" id="username"/>
                <input type="text" name="Password" placeholder="Password" id="password"/>
                <button ng-click="tryLogin()">Sign In</button>
            </form>
            <h1>Titles:</h1>
            <ul>
                <li ng-repeat="item in data" ng-class-odd="'odd'"><a href="{{item.url}}">{{item.title}}</a></li>
            </ul>
        </div>
    </div>

</div>
<!-- /.container -->